{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 4000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".js"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/public_html/shintaku.co",
      "timeout": 30000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "wp-content/themes/shintaku/post-formats/format-image.php",
          "mtimeMs": 1593130797000,
          "date": "2020-08-30T20:18:46.364Z"
        },
        {
          "file": "wp-content/themes/shintaku/post-formats/format.php",
          "mtimeMs": 1598843647236.2063,
          "date": "2020-08-31T03:14:10.069Z"
        },
        {
          "file": "wp-content/themes/shintaku/post-formats/format-gallery.php",
          "mtimeMs": 1593130797000,
          "date": "2020-08-30T20:18:52.557Z"
        },
        {
          "file": "wp-content/themes/shintaku/post-formats/format-audio.php",
          "mtimeMs": 1593130797000,
          "date": "2020-08-30T20:18:55.027Z"
        },
        {
          "file": "wp-content/themes/shintaku/post-formats/format-link.php",
          "mtimeMs": 1598290213000,
          "date": "2020-08-30T20:18:57.488Z"
        },
        {
          "file": "wp-content/themes/shintaku/post-formats/format-status.php",
          "mtimeMs": 1593130797000,
          "date": "2020-08-30T20:18:59.901Z"
        },
        {
          "file": "wp-content/themes/shintaku/post-formats/format-chat.php",
          "mtimeMs": 1593130797000,
          "date": "2020-08-30T20:19:02.538Z"
        },
        {
          "file": "wp-content/themes/shintaku/post-formats/formats-inc/reread.php",
          "mtimeMs": 1598549736000,
          "date": "2020-08-30T20:19:05.579Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/admin.php",
          "mtimeMs": 1593130797000,
          "date": "2020-08-30T20:19:08.405Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/webfonts/fa-brands-400.svg",
          "mtimeMs": 1594857588000,
          "date": "2020-08-30T20:19:15.007Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/functions/utilities.php",
          "mtimeMs": 1600637737612.1445,
          "date": "2020-09-20T21:35:41.484Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/images/service-and-fees_img-3.png",
          "mtimeMs": 1598821311556.0967,
          "date": "2020-08-30T21:01:54.849Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/images/service-and-fees_img-2.png",
          "mtimeMs": 1598821527822.111,
          "date": "2020-08-30T21:05:29.939Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/images/blog-category-img_book.png",
          "mtimeMs": 1598823344567.1233,
          "date": "2020-08-30T21:35:46.533Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/images/blog-category-img_work.png",
          "mtimeMs": 1598823292015.6746,
          "date": "2020-08-30T21:34:54.083Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/images/blog-category-img_web.png",
          "mtimeMs": 1598823303688.9585,
          "date": "2020-08-30T21:35:05.637Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/images/blog-category-img_art.png",
          "mtimeMs": 1598823313707.988,
          "date": "2020-08-30T21:35:15.672Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/images/blog-category-img_news.png",
          "mtimeMs": 1598823326956.1626,
          "date": "2020-08-30T21:35:28.916Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/scss/modules/_page.scss",
          "mtimeMs": 1600638545715.7434,
          "date": "2020-09-20T21:49:11.020Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/css/style.css",
          "mtimeMs": 1600642187073.2864,
          "date": "2020-09-20T22:49:52.966Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/scss/modules/_utilites.scss",
          "mtimeMs": 1600642182705.7996,
          "date": "2020-09-20T22:49:46.338Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/scss/modules/_mobile-menu.scss",
          "mtimeMs": 1598825843859.783,
          "date": "2020-08-30T22:17:25.838Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/scss/modules/_menu.scss",
          "mtimeMs": 1600630408662.7588,
          "date": "2020-09-20T19:33:33.290Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/scss/modules/_forms.scss",
          "mtimeMs": 1600052287232.4114,
          "date": "2020-09-14T04:00:28.120Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/scss/breakpoints/_base.scss",
          "mtimeMs": 1600054516845.9226,
          "date": "2020-09-14T03:35:23.593Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/scss/modules/_header.scss",
          "mtimeMs": 1598827569125.1887,
          "date": "2020-08-30T22:46:11.738Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/scss/partials/_variables.scss",
          "mtimeMs": 1599945773299.9065,
          "date": "2020-09-12T21:23:01.896Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/css/ie.css",
          "mtimeMs": 1600053177639.5544,
          "date": "2020-09-14T03:13:12.783Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/css/editor-style.css",
          "mtimeMs": 1600053177627.5635,
          "date": "2020-09-14T03:13:09.916Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/scss/breakpoints/_768up.scss",
          "mtimeMs": 1598829973597.272,
          "date": "2020-08-30T23:26:17.204Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/scss/modules/_single.scss",
          "mtimeMs": 1599346355724.6953,
          "date": "2020-09-05T22:52:38.199Z"
        },
        {
          "file": "wp-content/themes/shintaku/post-formats/format-article-list.php",
          "mtimeMs": 1598842423051.8723,
          "date": "2020-08-31T02:53:46.722Z"
        },
        {
          "file": "wp-content/themes/shintaku/index.php",
          "mtimeMs": 1600053090453.5215,
          "date": "2020-09-14T03:11:34.594Z"
        },
        {
          "file": "wp-content/themes/shintaku/archive.php",
          "mtimeMs": 1598846144965.164,
          "date": "2020-08-31T03:55:46.532Z"
        },
        {
          "file": "wp-content/themes/shintaku/page.php",
          "mtimeMs": 1598845660663.656,
          "date": "2020-08-31T03:47:44.605Z"
        },
        {
          "file": "wp-content/themes/shintaku/inc/blogmenu.php",
          "mtimeMs": 1598846569918.9011,
          "date": "2020-08-31T04:02:53.739Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/scss/style.scss",
          "mtimeMs": 1599343061320.5566,
          "date": "2020-09-05T21:57:54.549Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/scss/modules/_exception.scss",
          "mtimeMs": 1599952125000,
          "date": "2020-09-14T03:52:08.838Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/functions/short-codes.php",
          "mtimeMs": 1600054145078.8196,
          "date": "2020-09-14T03:29:09.851Z"
        },
        {
          "file": "wp-content/themes/shintaku/header.php",
          "mtimeMs": 1600547775702.1792,
          "date": "2020-09-19T20:36:19.846Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/images/about-4.jpg",
          "mtimeMs": 1563060998000,
          "date": "2020-09-05T23:36:36.929Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/images/_material/P1240880.JPG",
          "mtimeMs": 1563060998000,
          "date": "2020-09-05T23:37:44.130Z"
        },
        {
          "file": "wp-content/themes/shintaku/_old/functions_06252020.php",
          "mtimeMs": 1593130797000,
          "date": "2020-09-06T00:07:40.804Z"
        },
        {
          "file": "wp-content/themes/shintaku/functions_06252020.php",
          "mtimeMs": 1593130797000,
          "date": "2020-09-06T00:25:55.074Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/scss/modules/_variables.scss",
          "mtimeMs": 1599366832713.9124,
          "date": "2020-09-06T04:34:03.277Z"
        },
        {
          "file": "wp-content/themes/shintaku/front-page.php",
          "mtimeMs": 1599435333175.1858,
          "date": "2020-09-06T23:35:36.947Z"
        },
        {
          "file": "wp-content/themes/shintaku/404.php",
          "mtimeMs": 1599515753078.1877,
          "date": "2020-09-07T21:55:54.908Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/scss/modules/_tables.scss",
          "mtimeMs": 1599953389384.9292,
          "date": "2020-09-12T23:29:56.573Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/scss/partials/_normalize.scss",
          "mtimeMs": 1599954361958.0925,
          "date": "2020-09-12T23:46:09.884Z"
        },
        {
          "file": "wp-content/themes/shintaku/library/scss/partials/_mixins.scss",
          "mtimeMs": 1600053176248.4153,
          "date": "2020-09-14T03:13:06.584Z"
        },
        {
          "file": "wp-content/themes/shintaku/page-daily_report.php",
          "mtimeMs": 1600636821499.4504,
          "date": "2020-09-20T21:20:27.301Z"
        },
        {
          "file": "wp-content/themes/shintaku/post-formats/format-popular-article-list.php",
          "mtimeMs": 1600634313525.4001,
          "date": "2020-09-20T20:38:36.604Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": true,
        "tasks": [
          {
            "task": "node-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": true,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
