.epsilon-quickie {
  position: absolute;
  left: -50px;
  width: 50px;
  height: 100%;
  background-color: #6F5499;
  z-index: 99999;
  /* make sure we stay on top of everything else */
}

.epsilon-quickie .collapse-sidebar {
  color: #555;
}

.epsilon-quickie .devices-wrapper {
  position: absolute;
  bottom: 60px;
  text-align: center;
}

.epsilon-quickie .devices button {
  cursor: pointer;
  background: 0 0;
  border: none;
  height: 50px;
  width: 50px;
  color: #EEE;
  position: relative;
}

.epsilon-quickie .devices button:after {
  position: absolute;
  top: 0;
  left: -5px;
  width: 4px;
  height: 50px;
  background: #090033;
  content: " ";
  -webkit-transition: left .15s;
  transition: left .15s;
}

.epsilon-quickie .devices button:before {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: 400 20px/30px dashicons;
  vertical-align: top;
  padding: 4px 8px;
}

.epsilon-quickie .devices button:focus, .epsilon-quickie .devices button:active {
  outline: none;
}

.epsilon-quickie .devices button.active:after, .epsilon-quickie .devices button:hover:after {
  left: 0;
}

.epsilon-quickie .devices button:hover, .epsilon-quickie .devices button.active {
  background-color: #3C2166;
  color: #fff;
}

.epsilon-quickie .devices button.active {
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(9, 0, 51, 0.7);
          box-shadow: inset 0px 0px 5px 0px rgba(9, 0, 51, 0.7);
}

.epsilon-quickie .devices .preview-tablet:before {
  content: "\f471";
}

.epsilon-quickie .devices .preview-desktop:before {
  content: "\f472";
}

.epsilon-quickie .devices .preview-mobile:before {
  content: "\f470";
}

.epsilon-quickie .epsilon-quickie-logo {
  height: 25px;
  padding: 10px 15px;
  background-color: #3C2166;
  border-bottom: 1px solid #090033;
  color: #fff;
  opacity: 0;
}

.epsilon-quickie .epsilon-quickie-shortcuts {
  margin-top: 110px;
}

.epsilon-quickie .epsilon-quickie-shortcuts .epsilon-quickie-navigation {
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #EEE;
  text-decoration: none;
  border-left: 4px solid transparent;
  outline: none;
}

.epsilon-quickie .epsilon-quickie-shortcuts .epsilon-quickie-navigation.quickie-link-active {
  background-color: #3C2166;
  color: #fff;
  border-left: 4px solid #090033;
}

.epsilon-quickie .epsilon-quickie-shortcuts .epsilon-quickie-navigation:hover {
  background-color: #3C2166;
  color: #fff;
  border-left: 4px solid #090033;
}

.epsilon-quickie .epsilon-quickie-shortcuts .epsilon-quickie-navigation i {
  vertical-align: middle;
}

.wp-full-overlay-sidebar .wp-full-overlay-sidebar-content,
.wp-full-overlay-sidebar .wp-full-overlay-header,
.epsilon-quickie {
  -webkit-transition: left 0.2s cubic-bezier(0.86, 0, 0.07, 1);
  transition: left 0.2s cubic-bezier(0.86, 0, 0.07, 1);
}

@-webkit-keyframes epsilon_quickie_bar_logo_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes epsilon_quickie_bar_logo_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.epsilon-quickie-is-visible .epsilon-quickie-logo {
  -webkit-animation-name: epsilon_quickie_bar_logo_animation;
          animation-name: epsilon_quickie_bar_logo_animation;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.epsilon-quickie-is-visible .epsilon-quickie {
  left: 0;
}

.epsilon-quickie-is-visible .wp-full-overlay-sidebar {
  min-width: 350px;
  max-width: 650px;
}

.epsilon-quickie-is-visible .wp-full-overlay-sidebar .wp-full-overlay-header {
  left: 50px;
}

.epsilon-quickie-is-visible .wp-full-overlay-sidebar .wp-full-overlay-sidebar-content {
  left: 50px;
}

.epsilon-quickie-is-visible .epsilon-add-section-buttons {
  width: calc(18% - 50px);
  bottom: 0;
}

.epsilon-quickie-is-visible .expanded .wp-full-overlay-footer {
  width: calc(18% - 50px);
  padding-left: 50px;
}

.epsilon-quickie-is-visible #customize-controls #customize-notifications-area {
  padding-left: 50px;
  max-width: calc(100% - 50px);
}

@media screen and (max-width: 1290px) {
  .epsilon-quickie-is-visible #customize-preview iframe {
    left: 50px;
  }
}

@media screen and (max-width: 1680px) {
  .epsilon-quickie-is-visible .available-sections.opened {
    left: 48px;
  }
  .epsilon-quickie-is-visible.adding-doubled-section .doubled-section-parent {
    left: 43px;
  }
  .epsilon-quickie-is-visible .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-left: -350px;
  }
}
/*# sourceMappingURL=quickie-bar.css.map */