/******************************************************************
Site Name:
Author:

Stylesheet: Form Styles

We put all the form and button styles in here to setup a consistent
look. If we need to customize them, we can do this in the main
stylesheets and just override them. Easy Peasy.

You're gonna see a few data-uri thingies down there. If you're not
sure what they are, check this link out:
http://css-tricks.com/data-uris/
If you want to create your own, use this helpful link:
http://websemantics.co.uk/online_tools/image_to_data_uri_convertor/

******************************************************************/

.footer {
    clear: both;
    color: $text-dark;
    padding: 1em 1em 0;
}

.footer-links {
    a {

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    ul {

        li {}

    }

}

/* end .footer-links */