/******************************************************************
Site Name:
Author:

Stylesheet: Header and Footer Menu Styles

We put all the form and button styles in here to setup a consistent
look. If we need to customize them, we can do this in the main
stylesheets and just override them. Easy Peasy.

You're gonna see a few data-uri thingies down there. If you're not
sure what they are, check this link out:
http://css-tricks.com/data-uris/
If you want to create your own, use this helpful link:
http://websemantics.co.uk/online_tools/image_to_data_uri_convertor/

******************************************************************/

@import "../breakpoints/mixin-media-screen";
@import "../partials/variables";

/* USE THIS
@include for-481up {}  
@include for-768up {}
@include for-1030up {}
@include for-1240up {}

@include for-480below {}  
@include for-767below {}
@include for-1029below {}
@include for-1239below {}
*/

.header {
    position: relative;
    z-index: 1;

    &__logo {
        text-align: center;
        line-height: 4.25rem;

        @include for-1030up {
            float: left;
        }

        &__image {
            width: 140px;
        }
    }

    .current_page_item a {
        border-bottom: 2px solid $accent-color;
        padding-bottom: 0;
    }


    .sns {
        margin: 18px 12px 28px 12px;

        @include for-1030up {
            margin: 0.5rem 0 0 0;
            float: right;
        }

        i {
            text-shadow: 1px 1px 0 $white, -1px 1px 0 $white, 1px -1px 0 $white, -1px -1px 0 $white;
            background: $white;
        }
    }
}

#logo {
    margin: 0;

    a {
        color: $white;
    }
}


.footer {
    clear: both;
    color: $text-dark;
    z-index: -1;
    color: $white;
    overflow: hidden;
    position: relative;
    bottom: -12px;
    z-index: 1;

    &::before {
        content: '';
        display: block;
        position: relative;
        width: 120vw;
        border-left: 100vw solid transparent;
        border-right: 0 solid transparent;
        border-bottom: 14vw solid $corporate-color;
        bottom: -1px;
        margin-bottom: 0;
    }

    &__inner {
        background: $corporate-color;
        padding: 1rem 2.5%;
        margin-top: 0;
        margin-bottom: -12px;
    }

    .copyright {
        font-size: 0.75rem;
    }

    .sns {
        float: right;

        a .fab {
            color: $white !important;
        }

        @include for-1030up {
            margin-top: 0.75rem;
        }
    }

    .navigation {

        .current_page_item {
            border-right: 2px solid $accent-color;

            a {
                color: $accent-color;
            }
        }

        .bogo-language-switcher {
            display: flex;
            float: right;
            padding-right: 2rem;
            margin-top: 0;

            @include for-1030up {
                margin-top: 0.75rem;
            }

            a {
                color: $white;
            }

            .last a::before {
                color: $white;
            }

        }
    }


    .footer-links {
        a {

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }


    .footer-nav {
        li {
            float: left;
            transform: skewX(-9deg);
            border-right: 2px solid $white;
        }

        a {
            padding: 0.75em;
            transform: skewX(9deg);
            color: $white;
        }
    }

}


.sns {
    display: flex;
    margin: 0;

    li {
        font-size: 2rem;
        padding: 0 5px;
    }
}

.navigation {
    white-space: nowrap;


    .top-nav {
        @include for-1030up {
            float: right;
            margin: 0 -1.5rem;

        }

    }

    .bogo-language-switcher {
        display: flex;
        padding-left: 1rem;
        margin-top: 0.75rem;

        .current {
            color: $lighter-dark;
            pointer-events: none;

        }

        .last {

            a {

                &:before {
                    content: '/';
                    color: $lighter-dark;
                }
            }
        }

        li {

            text-align: left;

            @include for-1030up {
                text-align: right;

            }

            a {
                font-size: 1.25rem;
                text-decoration: none;
                font-size: 1.25rem;
                color: $text-dark;
                font-weight: bold;
            }

        }
    }

}

//breadcrumb ui
.breadcrumb {

    @include for-1030up {
        width: $wrap-width;
    }

    margin: 0 auto 10vw auto;
    padding: 0;
    list-style: none;

    &::after {

        @include rotate-line;
        height: 10px;
        background: $rotate-line-color-B;
        @include z-index_0;

        @include for-1030up {
            top: -14rem;
        }
    }

    ul {
        @include z-index_1;
        margin: 0;
    }

    li {
        display: inline;
        list-style: none;

        &:after {
            content: '>';
            padding: 0 0.2em;
            color: $accent-color;
        }

        &:last-child:after {
            content: '';
        }

        a {
            text-decoration: none;
            color: $accent-color;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

//breadcrumb ui END