/******************************************************************
Site Name:
Author:

Stylesheet: Form Styles

We put all the form and button styles in here to setup a consistent
look. If we need to customize them, we can do this in the main
stylesheets and just override them. Easy Peasy.

You're gonna see a few data-uri thingies down there. If you're not
sure what they are, check this link out:
http://css-tricks.com/data-uris/
If you want to create your own, use this helpful link:
http://websemantics.co.uk/online_tools/image_to_data_uri_convertor/

******************************************************************/
@import "../breakpoints/mixin-media-screen";
@import "../partials/variables";

/* USE THIS
@include for-481up {}  
@include for-768up {}
@include for-1030up {}
@include for-1240up {}

@include for-480below {}  
@include for-767below {}
@include for-1029below {}
@include for-1239below {}
*/

//固定ページ用 style


.page {

    h2 {
        font-family: $font-serif;
        margin: 4.25rem 0 2rem 0;
        padding: 0;
        width: 100%;

        @include for-1030up {
            margin: 8rem 0 2rem 0;
            padding-left: 0;
            left: 0;
        }

        &:first-of-type {
            margin: 2.25rem 0 2rem 0;

            @include for-1030up {
                margin-top: 6.25rem;
            }
        }

        span {
            @include z-index_1;
        }

        &.title::after {
            @include rotate-line;
            background: $rotate-line-color-B;
            @include z-index_0;

            @include for-1030up {
                top: -14rem;
            }
        }
    }

    h3,
    h4 {
        &.title {

            font-family: $font-serif;

        }

    }

    /*&:first-of-type {
            background: linear-gradient(90deg, $yellow 0%, $white 100%);
            border-bottom: none;
            margin: 0 -5% 2rem -10%;
            position: initial;
            text-align: center;
            font-family: Georgia, serif;
            font-style: italic;
            font-size: 1rem;

            @include for-1030up {
                left: 0;
                text-align: center;
                width: 130%;
                margin-top: 0;
                margin-left: -15%;
                margin-right: -15%;
            }
        }*/


}

.page-id-3 .rotate-line__title h1 {
    @include for-767below {
        font-size: 1.45em;
    }
}


.blog,
.category {
    .rotate-line {
        padding-bottom: 30px;

        @include for-1030up {
            margin-top: 0.75rem;
        }

        &__bg {
            width: 140vw;
            margin-top: 0;
        }
    }

    @include for-1030up {

        .sidebar {
            margin-top: 156px;
        }
    }
}


.two-column {
    .rotate-line {
        @include for-1030up {
            margin-top: 1rem;
        }

        padding-bottom: 90px;

        &+h2 span {
            top: -3rem;
        }

        &__bg {
            width: 140vw;
            margin-top: 0;
        }
    }

    &__lead {
        margin-bottom: 2rem;
        position: relative;
        top: -2rem;

    }

    h1 {
        margin-left: -14vw;
        margin-top: 0.5rem;
    }

    @include for-1030up {
        h1 {
            margin-left: 7rem;
            margin-top: -0.5rem;
        }

        .sidebar {
            margin-top: 280px;
        }
    }
}



// FRONT page 
.home {

    .front-page {
        &__tagline {
            margin-top: 6vw;
            line-height: 3.5rem;

            @include for-480below {
                font-size: 1.85rem;
            }

            .mb-only {
                display: none;

                @include for-767below {
                    display: block;
                }
            }

            @media (min-width: 768px) and (max-width: 879px) {
                margin-left: -5vw;
            }

            @include for-767below {
                margin-top: 5vw;
            }

            @include for-768up {
                white-space: nowrap;
                margin-top: 4vw;
                line-height: 5.5rem;
                font-size: 3rem;
            }
        }

        &__lead {
            margin-top: 6rem;

            @include for-767below {
                margin-top: 3rem;
            }
        }

        @include for-1030up {
            .news {
                margin-top: 45px;
            }
        }



    }
}

// FRONT page END

.article-header {
    .page-title {
        margin-bottom: 1.5rem;
    }
}


.article-footer {
    padding: 0;
}


// for FRONT page
.latest-posts {

    &__list {
        li {
            border-top: 1px solid $border-color;
            padding: 1rem 0;
            margin-bottom: 0;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    h4 {
        font-size: normal;
        font-size: 1rem;
        margin: 0;
    }
}

.contact-form-wrap {

    p,
    div {
        @include z-index_0;
    }
}

.entry-content {

    p,
    ul,
    dl,
    div {
        @include z-index_2;
    }

    .service-guide {
        &__title {
            font-size: 1.25rem;
            text-align: center;
            padding-bottom: 1rem;
            border-bottom: 1px solid #ccc;
        }

        &__image {
            max-width: 70%;
            display: block;
            margin: 0 auto 1rem auto;
        }
    }

}


// TITLE rotate-line for
.rotate-line {
    @include full-width;

    &__bg-bold {
        @include rotate-setting;
        background: $corporate-color;
        height: 400px;
    }

    &__bg {
        @include rotate-setting;
        background: $corporate-color;
        height: 150px;
        margin-bottom: -2rem;
        margin-top: -2rem;
    }

    &__title {
        margin-right: auto;
        margin-left: auto;
        padding-top: 1.5rem;
        width: 66%;
        color: #fff;
        font-size: 1.25rem;
        text-align: center;
        transform: rotate($un-rotate-deg);
        font-weight: normal;

        h1,
        h2 {
            font-family: $font-serif;
        }

        h1 {
            font-size: 1.75em;
            padding-top: 2rem;
        }
    }
}


.page {
    h2.line-desktop {
        &:after {
            @include for-1030up {
                top: -8rem;

            }
        }
    }

    h2.line-desktop-none {
        &:after {
            @include for-1030up {
                display: none;
            }
        }

        &+p {
            margin-top: -0.5rem;
        }
    }
}

.page-id-25 {
    h1 {
        white-space: nowrap;

        .cpny-name {
            margin-right: -1.25rem;
        }

    }
}

.blog,
.category {
    .page-title {
        @include for-1029below {
            margin-right: 20vw;
        }
    }
}

// TITLE rotate-line for END



//FAQ page
.faq {
    &__unit {
        text-indent: -2.5em;
        line-height: 1.9rem;
        padding-left: 2em;

        .a span {
            color: $pink;
        }

        .q,
        .a {
            span {
                font-size: 2rem;
                font-weight: bold;
            }
        }
    }
}