/******************************************************************
Site Name:
Author:

Stylesheet: Single page's Styles
We put all the form and button styles in here to setup a consistent
look. If we need to customize them, we can do this in the main
stylesheets and just override them. Easy Peasy.

You're gonna see a few data-uri thingies down there. If you're not
sure what they are, check this link out:
http://css-tricks.com/data-uris/
If you want to create your own, use this helpful link:
http://websemantics.co.uk/online_tools/image_to_data_uri_convertor/

******************************************************************/
@import "../breakpoints/mixin-media-screen";
@import "../partials/variables";

/* USE THIS
@include for-481up {}  
@include for-768up {}
@include for-1030up {}
@include for-1240up {}

@include for-480below {}  
@include for-767below {}
@include for-1029below {}
@include for-1239below {}
*/

//投稿ページ用 style

//blog-category-nav
.blog-category-nav {
    padding: 0 7%;

    @include for-1030up {
        width: 668px;
        margin: 0 auto 1.5rem auto;
        padding: 0;

        ul {
            margin: 0;
        }

    }

    //for-1030up END


    li {
        padding: 1%;

        &:last-child {
            padding-right: 0;

        }

        a {
            font-weight: bold;
            display: block;
            color: $white;
            text-decoration: none;
            text-align: center;
            border-radius: 4px;
            padding: 0.5rem 0;
            margin: 0 auto;
            border: 1px solid $white;
            background: $white;
        }

        &.web {
            a {
                color: $category-color-web;
                border-color: $category-color-web;
            }

            &-current a {
                color: $white;
                background-color: $category-color-web;
            }
        }

        &.art {
            a {
                color: $category-color-art;
                border-color: $category-color-art;
            }

            &-current a {
                color: $white;
                background-color: $category-color-art;
            }
        }

        &.work {
            a {
                color: $category-color-work;
                border-color: $category-color-work;
            }

            &-current a {
                color: $white;
                background-color: $category-color-work;
            }
        }

        &.book-review {
            a {
                color: $category-color-book-review;
                border-color: $category-color-book-review;
            }

            &-current a {
                color: $white;
                background-color: $category-color-book-review;
            }
        }
    }

}

//blog-category-nav END

// sub elements MOBILE width setting

.blog-message,
.popular-articles,
.pagination {
    @include for-1029below {
        @include mobile-width-setting_sub;
    }
}

.blog-message {
    margin: 0 auto 3rem auto;
}

// sub elements MOBILE width setting END

//comment-ac-button

.comment-ac-button {
    margin: 0 auto 3rem auto;
    text-align: center;
    border: 1px solid $link-color;
    color: $link-color;
    width: 50%;

    .comment-reply-title {
        display: none;
    }

    border-radius: 4px;
    padding: 0.25rem 1rem;

    @include for-1029below {
        width: 100%;
        padding: 0.25rem 5%;
    }

    .comment-respond {
        border-top: 0;
    }

    .hide {
        line-height: 1.8rem;
    }

    &:hover {
        background: $focus-color;
    }
}

//comment-ac-button END




.tag-shape {
    text-decoration: none;
    color: #fff;
    padding: 4px 20px;
    border-radius: 4px;
    font-weight: bold;
}

$tag: ".article-list__tag a";
$tag_s: ".article-tag a";

#{$tag},
#{$tag_s} {

    &:focus,
    &:hover,
    &:visited:focus,
    &:visited:hover {
        color: $white;
    }
}

.article-tag {
    margin-bottom: 1rem;
}

.category-art {

    #{$tag},
    #{$tag_s},
    #{$tag_s} {
        @extend .tag-shape;
        background-color: $category-color-art;
    }
}

.category-book-review {

    #{$tag},
    #{$tag_s} {
        @extend .tag-shape;
        background-color: $category-color-book-review;
    }
}

.category-web {

    #{$tag},
    #{$tag_s} {
        @extend .tag-shape;
        background-color: $category-color-web;
    }
}

.category-work {

    #{$tag},
    #{$tag_s} {
        @extend .tag-shape;
        background-color: $category-color-work;
    }
}


.category-news {

    #{$tag},
    #{$tag_s} {
        @extend .tag-shape;
        background-color: $category-color-news;
    }
}


@mixin post-width-desktop {
    width: 668px;
    margin: 0 auto;
    padding: 0 24px;
}

.type-post {
    @include for-1030up {
        @include post-width-desktop;
    }

    h2 {
        font-family: $font-serif;
        margin: 4.5rem 0 1.75rem 0;
        color: $dark;
    }

    &__main-image {
        text-align: center;
    }

    .entry-title {
        font-size: 2.25rem;
        font-family: $font-serif;
        color: $dark;

        &__book-info {
            font-size: 1rem;
            display: block;
            line-height: 1.5rem;
            margin: 0.75rem 0;
            font-family: $font-setting;
            color: $text-color;
        }
    }

    .book-info {
        text-align: center;
        white-space: nowrap;
        margin: 0;

        p {
            margin: 0;
        }

        &__star {
            span {
                color: $star-color;
                padding-left: 0.5em;
            }
        }
    }

    .post-outline {

        &__reading_time {
            margin-top: 1rem;
            text-align: center;
            padding: 0.3rem 0 0.3rem 0.5rem;
        }

        &__summary {
            position: relative;
            margin: 0 0 2rem 0;
            padding: 0 0 0.5rem 0;
            background: #fff;
            font-size: 1.25rem;
            border-bottom: 1px solid $pink;
            font-family: $font-serif;
            color: $dark;

            strong {
                font-size: 0.8rem;
            }

            p {
                margin: 0;
            }

            &::before,
            &::after {
                content: '';
                border: 14px solid transparent;
                border-top-color: transparent;
                position: absolute;
                left: 50%;
                margin-left: -14px;
            }

            &::before {
                border-top-color: $pink;
                bottom: -28px;
            }

            &::after {
                border-top-color: $white;
                bottom: -27px;
            }

        }
    }
}

.single-post {
    .post-footer {
        @include for-1030up {
            @include post-width-desktop;
        }
    }
}

.category {
    h1 {
        margin: 0;
    }

    &__title-wrap {
        padding: 0 1.5rem;
    }

}


.article-list {

    .byline {
        text-align: right;
    }

    .hentry {
        padding: 0;
        margin-bottom: 0;
    }

    &__tag {
        margin-bottom: 1rem;
        white-space: nowrap;
    }

    &__link {
        text-decoration: none;
    }

    &__title {
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-top: 0;

        @include for-480below {
            font-size: 1.25rem;
            line-height: 1.75rem;
            margin-top: -5px;
        }
    }

    &__books-info {
        font-size: 1rem;
        display: block;
        line-height: 1.5rem;

        @include for-480below {
            font-size: 0.75rem;
            line-height: 1rem;
            margin-top: 0.5rem;
        }
    }

    &__image,
    .wp-post-image {
        @include article-list-img;
    }
}

.popular-articles,
.img-article-list {
    a {
        text-decoration: none;
    }

    p {
        margin-top: 0;
        line-height: $space_S;
    }

    img {
        @include article-list-img;
    }
}

.post-footer {
    h3 {
        font-size: 1.5rem;
        margin-top: 4rem;
    }
}

.sidebar {
    a {
        text-decoration: none;
    }

    .popular-articles,
    .img-article-list {
        img {
            width: 92px;
            height: 92px;
        }
    }
}


//daily-report-list

.daily-report-list {
    width: 668px;

    @include for-1030up {
        padding-right: 60px;
    }

    .pagination {
        li {
            border-bottom: none;
        }
    }


    @include for-1029below {
        @include mobile-width-setting;
    }

    h1 {
        margin-bottom: 3rem;
    }

    li {
        border-bottom: 1px solid $border-color;
        padding-bottom: $space_S;
        margin-bottom: $space_S;
    }


}