/******************************************************************
Site Name:
Author:

Stylesheet: Tables Styles

We put all the form and button styles in here to setup a consistent
look. If we need to customize them, we can do this in the main
stylesheets and just override them. Easy Peasy.

You're gonna see a few data-uri thingies down there. If you're not
sure what they are, check this link out:
http://css-tricks.com/data-uris/
If you want to create your own, use this helpful link:
http://websemantics.co.uk/online_tools/image_to_data_uri_convertor/

******************************************************************/

@import "../breakpoints/mixin-media-screen";
@import "../partials/variables";

/* USE THIS
@include for-481up {}  
@include for-768up {}
@include for-1030up {}
@include for-1240up {}

@include for-480below {}  
@include for-767below {}
@include for-1029below {}
@include for-1239below {}
*/


// table for daily_report 


.entry-content {
    .daily-report-form {
        background: $white;
        overflow: hidden;
        border: none;
        box-shadow: 8px 8px 8px -4px rgba(0, 0, 0, 0.2);

        tr {
            border-left: 1px solid $table-border-color;
            border-right: 1px solid $table-border-color;

            &:first-child {
                border-top: 1px solid $table-border-color;

            }
        }

        td {
            padding: 1rem;

            &.time,
            &.name {
                white-space: nowrap;
            }
        }

        th {
            white-space: nowrap;
            background: $white;
            font-weight: bold;
            color: $dark;
        }

        h1 {
            text-align: center;
            margin: 0 0 0 20%;
            white-space: nowrap;

            @include for-767below {
                font-size: 2rem;
            }

        }

        &__title {
            border-right: 0;
        }

        &__text-area {
            height: 280px;
            vertical-align: top;
        }

        &__date-area {
            text-align: right;
            border-right: 0;
        }

        &__seal-area {
            border: 1px solid $table-border-color;
            text-align: center;
            width: 80px;
            height: 100px;
            float: right;

            @include for-767below {
                width: 50px;
                height: 70px;
            }

            span {
                display: block;
                border-bottom: 1px solid $table-border-color;
                height: 1.5rem;

                @include for-767below {
                    font-size: 0.6rem;
                    white-space: nowrap;
                }
            }

            img {
                display: block;
                width: 65%;
                margin: 8px auto;
            }
        }
    }
}


// table for daily_report END


//dl-list {

dl.horizon-dl-list {
    dt {
        float: left;
        margin-bottom: 1rem;
    }

    dd {
        margin-left: 7rem;
        margin-bottom: 1rem;
    }
}

// ul list 
.bulleted-list {
    list-style-type: circle;
    margin-left: 1.5rem;

    li {
        margin-bottom: 1.5rem;
    }
}