/******************************************************************
Site Name:
Author:

Stylesheet: Utilites Styles

We put all the form and button styles in here to setup a consistent
look. If we need to customize them, we can do this in the main
stylesheets and just override them. Easy Peasy.

You're gonna see a few data-uri thingies down there. If you're not
sure what they are, check this link out:
http://css-tricks.com/data-uris/
If you want to create your own, use this helpful link:
http://websemantics.co.uk/online_tools/image_to_data_uri_convertor/

******************************************************************/
@import "../breakpoints/mixin-media-screen";
@import "../partials/variables";

/* USE THIS
@include for-481up {}  
@include for-768up {}
@include for-1030up {}
@include for-1240up {}

@include for-480below {}  
@include for-767below {}
@include for-1029below {}
@include for-1239below {}
*/

.red {
    color: $red;
}

.pink {
    color: $pink;
}


.text-center {
    text-align: center;
}


@include for-480below {
    .for-480below {
        display: none;
    }
}

// beyond parentElement
.full-width {
    margin: 0 calc(50% - 50vw);
}

@mixin full-width {
    margin: 0 calc(50% - 50vw);
}

//image crop CSS
//for about page
/*
.crop-A {
    border-radius: 56% 44% 73% 27% / 50% 60% 40% 50%;
}

.crop-B {
    border-radius: 75% 25% 42% 58% / 72% 73% 27% 28%;
}

.crop-C {
    border-radius: 25% 75% 59% 41% / 65% 30% 70% 35%;
}

.crop-D {
    border-radius: 59% 41% 76% 24% / 50% 62% 38% 50%;
}
*/


// acordion function
.ac-menu {
    .show {
        display: block;
        cursor: pointer;
    }

    .hide {
        line-height: 50px;
        display: none;
    }
}

// acordion function END